*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.header{
  width: 100%;
  height: 40px;
  display:block;
  background-color: #800000;
  justify-content: center;
}

.header ul a{
  justify-content: flex-end;
  text-align: center;
  display: inline-block;
  background-color: #800000;
  padding-right: 70px;
  padding-left: 75px;
  padding-top: 8px;
  color: white;
  font-weight: lighter;
  font-size: 1.2em;
}

.header li{
  background-color: #800000;
}


.list li{
  border: 1px solid #fff;
  background-color: #800000;
}

.main_container{

}

.school_name{
  padding-top: 50px;
  padding-left: 23px;
  font-size: 3.3em;
  float: left;
}

.search_bar{
  float: left;
  position: absolute;
  top: 18%;
  left: 73%;
}

.names{
  position: absolute;
  top: 15%;
  left: 71.5%;
  colo
}

.names button{
  display: inline-block;
  float: left;
  padding-right: 70px;
  border: none;
  background-color: white;
  margin-bottom: 10px;
  font-size: 1.0em;
}

.search{
  border: 3px solid #3e5669;
  height: 21px;
  width: 250px;
  padding-left: 10px;
  font-size: 1em;
  border-radius: 50px;
}

.display_image img{
  padding-top: 40px;
  position: absolute;
  padding: 50px 80px;
  top: 40%;
  width: 83.9%;
  display: flex;
}

.body_container{
  position: absolute;
  top: 55%;
  left: 2%;
}

.body_container h1{
  padding-bottom: 10px;
  font-size: 2.5em;
  padding-left: 30px;
}

.body_container hr{
  width: 1280%;
  padding-bottom: 40px;
}

.news{
  padding: 50px 50px;
  width: 700px;
  height: 200px;

  float: left;
}

.news img{
  display: flex;
}

.tabs{
  padding: 40px 100px;
  float: left;
}

.tabs li{
  padding: 20px 20px;
  width: 100px;
}

.tabs li button{
  width: 350px;
  height: 35px;
  border: none;
  font-size: 1.5em;
  color: white;
}

.one{
  background-color: #00a86b
}


.two{
  background-color: #800000
}


.three{
  background-color: #46769b
}

.upload_body{
  position: absolute;
  height: 300px;
  width: 800px;
  border: 1px dashed black;
  left: 0;
  right: 0;
  top: 25%;
  bottom: 0;
  margin: auto;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}

.upload_hover{
  background-color: grey;
  border: 1px solid black;
}

.upload_body h3{
  position: absolute;
  padding-left: 190px;
  padding-top: 62px;
}

#file_input{
  text-align: center;
  position: absolute;
  padding-left: 320px;
  padding-top: 90px;
}

.upload_header{
  padding-left: 40px;
  padding-top: 40px;
}



.upload_title{
  float: left;
  position: absolute;
  top: 20%;

}

.upload_header h2{
  font-size: 2em;
  padding-top: 70px;
  padding-bottom: 20px;
}

.upload_logo{
  float: right;
  height: 60px;
  width: 10%;
  position: absolute;
  top: 5%;
  left: 83%;
}

.upload_logo img{
  height: 130px;
}

.profile_body{
  height: 1500px;
  width: 45%;
  margin: auto;
  margin-top: 60px;
  background-color: #d2d8d9;
}

.profile_img{
  display: flex;
}

.profile_img img{
  display: flex;
  height: 50%;
  width:50%;
  padding-right: 10px;
  padding-top: 100px;
  padding-left: 150px;
}

.profile_name{
  font-size: 2em;
  padding-top: 30px;
  padding-left: 100px;
}

.newsfeed{
  position: absolute;
  top: 35%;
  left: 5%;
  right: 5%;
  height: 700px;
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}


.newsfeed img {
    flex-shrink: 0;
    min-width: 50%;
    min-height: 50%
}

.body{
  background-color: grey;
}
